.u-section-1 .u-sheet-1 {
  min-height: 634px;
}

.u-section-1 .u-image-1 {
  width: 720px;
  height: 720px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 41px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 5px calc(((100% - 1140px) / 2) + -183px) 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-block-d061-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-d061-3 {
  position: absolute;
  left: 0;
  width: 48px;
  height: 48px;
}

.u-block-d061-4 {
  position: absolute;
  right: 0;
  width: 48px;
  height: 48px;
}

 .u-section-3-1 {
  background-image: none;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 560px;
}

.u-section-3-1 .u-layout-wrap-1 {
  width: 1000px;
  margin: 40px auto -10px 48px;
}

.u-section-3-1 .u-image-1 {
  min-height: 480px;
  background-image: url("../images/ProductImages/PineappleCake_1684x1123.jpg");
  background-position: 50% 50%;
}

.u-section-3-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3-1 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-3-1 .u-container-layout-2 {
  padding: 30px 55px 30px 60px;
}

.u-section-3-1 .u-text-1 {
  font-size: 2.25rem;
  font-family: Aleo;
  margin: 0;
}

.u-section-3-1 .u-text-2 {
  font-size: 18px;
  margin: 20px 0 0;
}

.u-section-3-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3-1 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3-1 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: normal;
  margin: 30px 0 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 451px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 451px;
  }

  .u-section-3-1 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-3-1 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 58px;
    margin-bottom: -28px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 345px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    width: 490px;
    margin-top: 91px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 593px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    width: 320px;
    margin-top: 23px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 326px;
  }
}

 .u-section-3-2 {
  background-image: none;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 560px;
}

.u-section-3-2 .u-layout-wrap-1 {
  width: 1000px;
  margin: 40px auto -10px 48px;
}

.u-section-3-2 .u-image-1 {
  min-height: 480px;
  background-image: url("../images/ProductImages/Suncake_480x480.png");
  background-position: 50% 50%;
}

.u-section-3-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3-2 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-3-2 .u-container-layout-2 {
  padding: 30px 55px 30px 60px;
}

.u-section-3-2 .u-text-1 {
  font-size: 2.25rem;
  font-family: Aleo;
  margin: 0;
}

.u-section-3-2 .u-text-2 {
  font-size: 18px;
  margin: 20px 0 0;
}

.u-section-3-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3-2 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3-2 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: normal;
  margin: 30px 0 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-3-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3-2 .u-image-1 {
    min-height: 451px;
  }

  .u-section-3-2 .u-layout-cell-2 {
    min-height: 451px;
  }

  .u-section-3-2 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-3-2 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-3-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 58px;
    margin-bottom: -28px;
  }

  .u-section-3-2 .u-image-1 {
    min-height: 345px;
  }

  .u-section-3-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-3-2 .u-layout-wrap-1 {
    width: 490px;
    margin-top: 91px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3-2 .u-image-1 {
    min-height: 593px;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-3-2 .u-layout-wrap-1 {
    width: 320px;
    margin-top: 23px;
  }

  .u-section-3-2 .u-image-1 {
    min-height: 326px;
  }
}

 .u-section-3-3 {
  background-image: none;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 560px;
}

.u-section-3-3 .u-layout-wrap-1 {
  width: 1000px;
  margin: 40px auto -10px 48px;
}

.u-section-3-3 .u-image-1 {
  min-height: 480px;
  background-image: url("../images/ProductImages/3QPastry_5536x3694.jpg");
  background-position: 50% 50%;
}

.u-section-3-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3-3 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-3-3 .u-container-layout-2 {
  padding: 30px 55px 30px 60px;
}

.u-section-3-3 .u-text-1 {
  font-size: 2.25rem;
  font-family: Aleo;
  margin: 0;
}

.u-section-3-3 .u-text-2 {
  font-size: 18px;
  margin: 20px 0 0;
}

.u-section-3-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3-3 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3-3 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: normal;
  margin: 30px 0 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-3-3 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: -277px;
    margin-left: 0;
  }

  .u-section-3-3 .u-image-1 {
    min-height: 451px;
  }

  .u-section-3-3 .u-layout-cell-2 {
    min-height: 451px;
  }

  .u-section-3-3 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-3-3 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3-3 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: -224px;
  }

  .u-section-3-3 .u-image-1 {
    min-height: 345px;
  }

  .u-section-3-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3-3 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-3-3 .u-layout-wrap-1 {
    width: 490px;
    margin-right: 0;
    margin-bottom: -423px;
    margin-left: auto;
  }

  .u-section-3-3 .u-image-1 {
    min-height: 593px;
  }

  .u-section-3-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-3-3 .u-layout-wrap-1 {
    width: 320px;
    margin-bottom: -678px;
  }

  .u-section-3-3 .u-image-1 {
    min-height: 326px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 41px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 5px calc(((100% - 1140px) / 2) + -183px) 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-5 {
  min-height: 66px;
}

.brandsSection.u-section-5 .u-sheet-1 {
  min-height: 480px;
}

.u-section-5 .u-sheet-1 {
  min-height: 735px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 40px auto 40px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 655px;
}

.brandsSection.u-section-5 .u-layout-cell-1 {
  min-height: 320px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.brandsSection.u-section-5 .u-container-layout-1 {
  padding: 18px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 19px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: normal;
  margin: 19px auto 0;
  padding: 8px 32px;
}

.u-section-5 .u-image-1 {
  min-height: 655px;
  /* background-image: url("../images/ProductImages/PorkFlossSnowflake_3381x5071.jpg"); */
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 318px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-5 .u-btn-1 {
    border-style: none;
  }

  .u-section-5 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    background-size: contain;
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-1 {
    min-height: 621px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 391px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 41px;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 5px calc(((100% - 1140px) / 2) + -183px) 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 670px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 40px auto 40px 0;
}

.u-section-7 .u-image-1 {
  min-height: 590px;
  background-image: url("../images/Mooncake_1440x1080.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 590px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  margin: 134px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0 0;
  padding: 8px 32px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 486px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-7 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-7 .u-image-1 {
    min-height: 372px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-7 .u-image-1 {
    min-height: 558px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-7 .u-image-1 {
    min-height: 351px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 512px;
}

.u-section-8 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-8 .u-list-1 {
  margin-top: 4px;
  margin-bottom: 40px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 128px;
  width: 128px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 8px 32px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 128px;
  width: 128px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-8 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-2 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 8px 32px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  height: 128px;
  width: 128px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-8 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-8 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-3 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: normal;
  margin: 20px auto 0;
  padding: 8px 32px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }

  .u-section-8 .u-btn-1 {
    border-style: none;
  }

  .u-section-8 .u-btn-2 {
    border-style: none;
  }

  .u-section-8 .u-btn-3 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 472px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-9 .u-image-1 {
  min-height: 360px;
  background-image: url("../images/Packaging_1440x1440.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 0 24px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 360px;
}

.u-section-9 .u-container-layout-2 {
  padding: 32px;
}

.u-section-9 .u-text-1 {
  font-style: normal;
  text-transform: none;
  /* font-weight: 700; */
  margin: 32px auto 0 0;
}

.u-section-9 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.125rem;
  font-weight: normal;
  margin: 24px 0 0;
}

.u-section-9 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: normal;
  margin: 30px 0 0;
  padding: 8px 32px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-9 .u-image-1 {
    min-height: 297px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-9 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-9 .u-image-1 {
    min-height: 227px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-9 .u-image-1 {
    min-height: 341px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-9 .u-image-1 {
    min-height: 215px;
  }
}.u-backlink{
	display: none;
}