.dropbtn {   
    border: none;
    cursor: pointer;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #383C3B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* .dropdown a:hover {background-color: #ddd;} */
  
  .show {display: block;}

  span.notificationCart {
    background: #810b0b;
    color: #FFF;
    padding: 8px 13px;
    border-radius: 100%;
    /* width: 70px; */
    /* height: 20px; */
    position: absolute;
    top: 50px;
    left: 110px;
}