.dropbtn {   
    border: none;
    cursor: pointer;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #383C3B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* .dropdown a:hover {background-color: #ddd;} */
  
  .show {display: block;}



  .shoppingCartButton
  {
    display: block;
    text-align: center;
  }

  .shoppingCartButton .shoppingCartIcon, .shoppingCartButton .shoppingCartLabel
  {
    display: block;
    margin: auto;
  }

  .shoppingCartButton .shoppingCartLabel
  {
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  .shoppingCartButton:hover, .shoppingCartButton:hover .shoppingCartLabel, .shoppingCartButton .shoppingCartLabel:hover
  {
    text-decoration: none;
  }

  .shoppingCartButton .notificationCart 
  {
    
    background: #B83331;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 8px 13px;
    position: absolute;
    top: -8px;
    left: 32px;
}


.quickNavigationBar p{
  font-size: 1rem;
}