.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 948px;
  }
  
  .u-section-1 .u-shape-1 {
    height: 430px;
    width: 716px;
    margin: 331px auto 0 0;
  }
  
  .u-section-1 .u-image-1 {
    width: 1032px;
    height: 675px;
    margin: -721px auto 0;
  }
  
  .u-section-1 .u-group-1 {
    width: 464px;
    min-height: 534px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
    height: auto;
    margin: -349px auto 48px 40px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin: 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin: 16px 0 0;
  }
  
  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    letter-spacing: 1px;
    border-style: none;
    text-transform: none;
    font-weight: normal;
    margin: 20px auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1112px;
    }
  
    .u-section-1 .u-shape-1 {
      --animation-custom_in-translate_x: -300px;
      --animation-custom_in-translate_y: 0px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
      --animation-custom_in-scale: 1;
    }
  
    .u-section-1 .u-image-1 {
      width: 940px;
      height: 615px;
    }
  
    .u-section-1 .u-group-1 {
      --animation-custom_in-translate_x: 0px;
      --animation-custom_in-translate_y: 300px;
      --animation-custom_in-scale: 1;
      margin-top: -289px;
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-image-1 {
      width: 720px;
      height: 471px;
    }
  
    .u-section-1 .u-group-1 {
      margin-top: -145px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1022px;
    }
  
    .u-section-1 .u-shape-1 {
      width: 540px;
    }
  
    .u-section-1 .u-image-1 {
      width: 540px;
      height: 353px;
    }
  
    .u-section-1 .u-group-1 {
      margin-top: -27px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 874px;
    }
  
    .u-section-1 .u-shape-1 {
      width: 340px;
    }
  
    .u-section-1 .u-image-1 {
      width: 340px;
      height: 222px;
    }
  
    .u-section-1 .u-group-1 {
      width: 340px;
      margin-top: 104px;
      margin-left: 0;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.875rem;
    }
  } .u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 779px;
  }
  
  .u-section-2 .u-image-1 {
    height: 659px;
    width: 991px;
    margin: 60px auto 0 60px;
  }
  
  .u-section-2 .u-shape-1 {
    width: 237px;
    height: 237px;
    margin: -207px auto 0 0;
  }
  
  .u-section-2 .u-group-1 {
    width: 462px;
    min-height: 549px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
    height: auto;
    margin: -634px 18px 60px auto;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px 40px 30px 35px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 0;
  }
  
  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    font-weight: normal;
    margin: 16px 0 0;
  }
  
  .u-section-2 .u-btn-1 {
    letter-spacing: 1px;
    font-size: 1.125rem;
    border-style: none;
    font-weight: normal;
    text-transform: none;
    margin: 20px auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 870px;
    }
  
    .u-section-2 .u-image-1 {
      --animation-custom_in-translate_x: -300px;
      --animation-custom_in-translate_y: 0px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
      --animation-custom_in-scale: 1;
      height: 625px;
      width: 940px;
      margin-left: 0;
    }
  
    .u-section-2 .u-shape-1 {
      --animation-custom_in-translate_x: 0px;
      --animation-custom_in-translate_y: 0px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
      --animation-custom_in-scale: 0.3;
      margin-top: -173px;
    }
  
    .u-section-2 .u-group-1 {
      --animation-custom_in-translate_x: 0px;
      --animation-custom_in-translate_y: 300px;
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1079px;
    }
  
    .u-section-2 .u-image-1 {
      height: 479px;
      width: 720px;
    }
  
    .u-section-2 .u-shape-1 {
      margin-top: -27px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-right: 30px;
      padding-left: 30px;
    }
  
    .u-section-2 .u-text-1 {
      width: auto;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1355px;
    }
  
    .u-section-2 .u-image-1 {
      height: 359px;
      width: 540px;
    }
  
    .u-section-2 .u-shape-1 {
      margin-top: 93px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1191px;
    }
  
    .u-section-2 .u-image-1 {
      height: 226px;
      width: 340px;
    }
  
    .u-section-2 .u-group-1 {
      width: 340px;
      margin-right: 0;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-2 .u-text-2 {
      font-size: 1.125rem;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }
  
  .u-section-3 .u-shape-1 {
    height: 430px;
    width: 651px;
    margin: 282px auto 0 20px;
  }
  
  .u-section-3 .u-image-1 {
    width: 941px;
    height: 560px;
    margin: -624px auto 0 81px;
  }
  
  .u-section-3 .u-group-1 {
    width: 464px;
    min-height: 534px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
    height: auto;
    margin: -253px 54px 60px auto;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin: 0;
  }
  
  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin: 16px 0 0;
  }
  
  .u-section-3 .u-btn-1 {
    font-size: 1.125rem;
    letter-spacing: 1px;
    border-style: none;
    text-transform: none;
    font-weight: normal;
    margin: 20px auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1112px;
    }
  
    .u-section-3 .u-shape-1 {
      height: 408px;
      width: 680px;
      --animation-custom_in-translate_x: -300px;
      --animation-custom_in-translate_y: 0px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
      --animation-custom_in-scale: 1;
    }
  
    .u-section-3 .u-image-1 {
      width: 814px;
      height: 559px;
      --animation-custom_in-translate_x: 0px;
      --animation-custom_in-translate_y: -300px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
      --animation-custom_in-scale: 1;
      animation-duration: 1000ms;
      margin-top: -818px;
      margin-left: 0;
    }
  
    .u-section-3 .u-group-1 {
      --animation-custom_in-translate_x: 0px;
      --animation-custom_in-translate_y: 300px;
      --animation-custom_in-scale: 1;
      margin-top: -252px;
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-shape-1 {
      height: 332px;
      width: 604px;
    }
  
    .u-section-3 .u-image-1 {
      width: 594px;
      height: 541px;
      margin-top: -948px;
    }
  
    .u-section-3 .u-group-1 {
      min-height: 480px;
      margin-top: -121px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1022px;
    }
  
    .u-section-3 .u-shape-1 {
      height: 290px;
      width: 344px;
      margin-left: 0;
    }
  
    .u-section-3 .u-image-1 {
      width: 450px;
      height: 331px;
      margin-top: -1126px;
    }
  
    .u-section-3 .u-group-1 {
      margin-top: -14px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 874px;
    }
  
    .u-section-3 .u-shape-1 {
      width: 258px;
    }
  
    .u-section-3 .u-image-1 {
      width: 258px;
      height: 235px;
      margin-top: -1208px;
    }
  
    .u-section-3 .u-group-1 {
      margin-top: 105px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 1.875rem;
    }
  }.u-section-4 .u-sheet-1 {
    min-height: 172px;
  }
  
  .u-section-4 .u-group-1 {
    width: 1380px;
    min-height: 120px;
    height: auto;
    background-image: none;
    margin: 26px -120px;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }
  
  .u-section-4 .u-text-1 {
    margin: 0 auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-group-1 {
      width: 940px;
      margin-left: 0;
      margin-right: 0;
      height: auto;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  
    .u-section-4 .u-text-1 {
      font-weight: normal;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-group-1 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-group-1 {
      width: 540px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-group-1 {
      width: 340px;
    }
  } .u-section-5 {
    min-height: 786px;
  }
  
  .u-section-5 .u-layout-wrap-1 {
    width: 1140px;
    margin: 0 auto 60px calc(((100% - 1140px) / 2) + -49px);
  }
  
  .u-section-5 .u-layout-cell-1 {
    min-height: 680px;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-5 .u-text-1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 1.125rem;
  }
  
  .u-section-5 .u-btn-1 {
    border-style: none;
    font-size: 1.125rem;
    margin: 30px 0 0;
    padding: 8px 33px;
  }
  
  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
    margin: 30px 0 0;
  }
  
  .u-section-5 .u-btn-2 {
    border-style: none;
    font-size: 1.125rem;
    margin: 30px 0 0;
    padding: 8px 33px;
  }
  
  .u-section-5 .u-layout-cell-2 {
    min-height: 704px;
  }
  
  .u-section-5 .u-container-layout-2 {
    padding: 14px 30px;
  }
  
  .u-section-5 .u-text-4 {
    margin: 16px auto 0 74px;
  }
  
  .u-section-5 .u-text-5 {
    font-size: 1.125rem;
    margin: 8px auto 0 74px;
  }
  
  .u-section-5 .u-form-1 {
    background-image: none;
    height: 419px;
    margin: 30px 34px 0 74px;
  }
  
  .u-section-5 .u-form-group-1 {
    margin-left: 0;
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  .u-section-5 .u-label-1 {
    font-size: 1rem;
  }
  
  .u-section-5 .u-input-1 {
    height: 32px;
    font-size: 1.125rem;
    font-weight: 400;
  }
  
  .u-section-5 .u-form-group-2 {
    margin-left: 0;
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  .u-section-5 .u-label-2 {
    font-size: 1rem;
    letter-spacing: 0px;
  }
  
  .u-section-5 .u-input-2 {
    height: 32px;
    font-size: 1.125rem;
    font-weight: 400;
  }
  
  .u-section-5 .u-text-6 {
    margin-left: 0;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: normal;
  }
  
  .u-section-5 .u-btn-3 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-5 .u-btn-4 {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 11px 0 12px;
  }
  
  @media (max-width: 1199px) {
     .u-section-5 {
      min-height: 662px;
    }
  
    .u-section-5 .u-layout-wrap-1 {
      position: relative;
      width: 940px;
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-5 .u-layout-cell-1 {
      min-height: 561px;
    }
  
    .u-section-5 .u-layout-cell-2 {
      min-height: 580px;
    }
  
    .u-section-5 .u-form-1 {
      width: 421px;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-5 {
      min-height: 182px;
    }
  
    .u-section-5 .u-layout-wrap-1 {
      width: 720px;
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-5 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-5 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-5 .u-form-1 {
      width: 312px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-5 {
      min-height: 282px;
    }
  
    .u-section-5 .u-layout-wrap-1 {
      width: 540px;
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-layout-wrap-1 {
      width: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }
  }.u-backlink{
      display: none;
  }