@media (max-width: 1082px){
  .u-footer .u-gutter-0 .u-layout .u-layout-row > div {
    width: 48%;
    max-width: initial;
    min-width: initial;
  }
}

@media (min-width: 1009px) {
    .shopButton
    {
        display: none;
    }

    .u-enable-responsive .moduleNavigation{
        display: block;
    }

    .moduleNavigation .u-nav-item{
        margin-bottom: 16px;
    }

    .u-section-1 .u-image-1{
      width: auto;
    }

  }

  @media (max-width: 1024px){

    .moduleNavigation .productsNavItem,
    .moduleNavigation .aboutNavItem, .moduleNavigation .eventsNavItem, .moduleNavigation .contactNavItem{
      display: block;
    }
    
    .moduleNavigation ul .u-nav-item:first-child{
      margin-right: 0;
    }

    /* section.heroImage{
      background-color: #F4DFB0; 
      background-image: url('../images/Animations/Animation_1800X700.gif'); 
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; 
      height: 700px;
    } */

  }

  

  @media (max-width: 1008px){

    .u-enable-responsive .u-nav-container.moduleNavigation{
        display: block;
    }

    .moduleNavigation .u-nav-item{
        vertical-align: baseline;
    }

    .moduleNavigation ul .u-nav-item:first-child{
        margin-right: 0;
    }

    .u-header .u-menu-2{
        margin-top: 0;
    }

    .u-header .u-menu-2{
        margin-bottom: 16px;
    }

    .u-section-1 .u-image-1{

      width: 100%;
    }


  }

  @media(max-width: 768px){
    .u-footer .u-gutter-0 .u-layout{
      margin: 0 20px !important;
    }

    .u-footer .u-gutter-0 .u-layout .u-layout-row > div:first-child{
      vertical-align: top;
      width:30%;
    } 

    .u-footer .u-gutter-0 .u-layout .u-layout-row > div:last-child{
      vertical-align: top;
      width:auto;
    }    

  }

  @media (max-width: 608px){

    .u-footer .u-gutter-0 .u-layout .u-layout-row > div:first-child, .u-footer .u-gutter-0 .u-layout .u-layout-row > div:last-child{
      width: 100%;
      max-width: initial;
      min-width: initial;
    }

    

    .u-footer .u-gutter-0 .u-layout .u-layout-row > div {
      width: 100%;
      max-width: initial;
      min-width: initial;
    }

    .u-footer .u-container-layout-3{
      padding: 0;
    }
    .u-footer .u-container-layout-1{
      padding-bottom: 0;
      padding-top: 0;
    }

    p:not(.u-text-variant){
      margin-bottom: 0;
    }


    .u-footer .u-gutter-0 .u-layout .u-layout-row{
      padding-bottom: 20px;
      padding-top: 20px;
    }   

    blockquote{
      margin-top: 0;
      margin-left: 16px;
      padding: 0 0 0 16px;
    }

    
  }


@media(max-width:480px)
{
  .u-footer .u-icon {
    background: #A7A9AC;
    display: inline-block;
    height: 36px;
    width: 36px;
    text-align: center;
    padding: 4px;
}

.u-footer .u-icon img{
  height: 24px !important;
  width: 24px !important;
}

}


  .shopMenu{
    margin: 0 0 0 auto !important;
  }


  .u-header .u-image-1{
    margin: -56px auto 0 0;
  }

  .u-header .u-sheet-2{
    padding-top: 16px;
  }

  .u-section-1 .u-image-1{
    height: auto !important;
    /* width: auto !important;; */

  }
  