/* mode of paymet */


.paymentSection > div{
    display: inline-block;
    vertical-align: top;
    margin: 16px;
}

.receiveDateTextBox{
    border: 1px solid #b3b3b3;
    color: #383c3b;
    background-color: #ffffff;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px 12px;
    background-image: none;
    background-clip: padding-box;
    border: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.receivedDateList ul li{
    border: 1px solid #F8F8F8;
    color: black;
    background-color: #F2F2F2;
    padding: 8px 16px;
    border-radius: 4px;
}

.receivedDateList ul li:hover{
    border: 1px solid #E5E5E5;
    color: black;
    background-color: #F2F2F2;
    padding: 8px 16px;
    border-radius: 4px;
}

.receivedDateList > ul > li > label {
    padding: 8px 4px;
    font-size: 18px;
    display: inline-block;
    width: 92%;
}

/* .receivedDateList div div{
    border: 1px solid #F8F8F8;
    color: black;
    background-color: #F2F2F2;
    padding: 8px 16px;
    border-radius: 4px;
}

.receivedDateList div div:hover{
    border: 1px solid #E5E5E5;
    color: black;
    background-color: #F2F2F2;
    padding: 8px 16px;
    border-radius: 4px;
}

.receivedDateList > div > div > label {
    padding: 8px 4px;
    font-size: 18px;
    display: inline-block;
    width: 92%;
} */

.receiveDateTextBox{
    font-size: 1.125rem;
    display: none;
}

#DefaultOptionButton{
    display: none;
}

.moreOptionDiv{
width:100%;
display: inline-block;
text-align: right;
}

.moreOption:hover{
    color: #D36D28;
    cursor: hand;
    text-decoration: underline;
    }

    .moreOption{
        color: #D36D28;
        }

        /* #DateOptionsDiv{
            display: none;
        } */

        #DateList {
            display:flex;
            flex-flow: column;
        }
        #DateOptionsDiv {
            order:2;
        }
        #CollapsibleDateLabel {
            order:1;
        }

        /* #DateOptionsDiv, #CollapsibleDateLabel{
            display:flex;
    flex-direction: column-reverse;
        } */

         /* .collapsible {
            background-color: #F8F8F8;
            color: #383C3B;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 1.25rem;
            font-weight: bold;
        
            padding-right: 44px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYBAMAAABpfeIHAAAAElBMVEUAAAA0O0A1O0E2PEI9PUk0OkAiqeRcAAAABXRSTlMA6qpVFQVXMqEAAABSSURBVBjTVcuxCQAgEMXQD67gCvau4AqC+69iYSRcysDLOKWdVUdPq2PmGUWeUQSjwCgwCowCo8AoMAgaCowCo9AgNAgNQoPQIDQIDUKD0HxxAZxJP8Gf3MEsAAAAAElFTkSuQmCC);
            background-repeat: no-repeat;
            background-position: right 1.1rem center;
            background-size: 8px 6px;
          }
          
           .active,.dateSpan .collapsible:hover {
            background-color: #F0F0F0;
          }
          
           .content {
            padding: 0 18px;
      
            overflow: hidden;
            background-color: #f1f1f1;
            text-align: left;
          } */

          .content {
            padding: 0 18px;
          }